@model IEnumerable<EnmaLibrary.Models.BooksModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Libros</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Autor
            </th>
            <th>
                Precio
            </th>
            <th>
                Existencias
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    |
                    <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

